@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
:root {
	--col1: #010101;
	--col2: #ffffff;
	--col3: #ffb81c; /*alt colour is #1A62FF / Ultramarine blue*/
	--col4: #ffffff;
	--col5: #ffffff; /*underline*/
	--col6: #ebebeb;
	--col7: #262729;
}
@keyframes pulseBlurRadius {
	0% {
		box-shadow: 0px 0px 10px 0px var(--col2);
	}
	50% {
		box-shadow: 0px 0px 15px 2px var(--col2);
	}
	100% {
		box-shadow: 0px 0px 10px 0px var(--col2);
	}
}
@keyframes fadeInHello {
	0% {
		left: -50%;
		opacity: 0;
		letter-spacing: 100px;
	}
	100% {
		left: 0%;
		margin-left: 20%;
		opacity: 1;
		letter-spacing: 0px;
	}
}
@keyframes fadeInHelloSmall {
	0% {
		left: -85%;
		opacity: 0;
		letter-spacing: 50px;
	}
	100% {
		left: 0%;
		margin-left: 10%;
		opacity: 1;
		letter-spacing: 0px;
	}
}
@keyframes navItemHoverOn {
	20% {
		background: linear-gradient(
			0deg,
			var(--col5) 3%,
			var(--col5) 3%,
			transparent 3%
		);
	}
	40% {
		background: linear-gradient(
			0deg,
			var(--col5) 4%,
			var(--col5) 4%,
			transparent 4%
		);
	}
	60% {
		background: linear-gradient(
			0deg,
			var(--col5) 6%,
			var(--col5) 6%,
			transparent 6%
		);
	}
	80% {
		background: linear-gradient(
			0deg,
			var(--col5) 8%,
			var(--col5) 8%,
			transparent 8%
		);
	}
	100% {
		background: linear-gradient(
			0deg,
			var(--col5) 10%,
			var(--col5) 10%,
			transparent 10%
		);
	}
}
* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", sans-serif;
	color: var(--col6);
	scroll-behavior: smooth;
}
html {
	background-color: var(--col1);
	scrollbar-color: var(--col6) var(--col7);
}
::-webkit-scrollbar-thumb {
	background: var(--col1);
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--col1);
	transition: 0.3s;
	background-color: var(--col1);
	--col5: var(--col2);
}
header #logoSection {
	position: relative;
	margin-left: 60px;
	height: 70px;
	display: flex;
	transition: 0.3s;
}
header #logoSection #logoAnchor {
	position: absolute;
	height: 80px;
	width: 150px;
	z-index: 1000;
	left: 92px;
}
header #logoSection #logo {
	position: relative;
	height: 80px;
	padding-right: 150px;
	transition: 0.3s;
}
header #logoSection #logo .logoComponent {
	position: absolute;
	background-color: var(--col2);
	transition: 0.3s;
}
header #logoSection #logo .lines {
	width: 100px;
	height: 2px;
	transition: 0.3s;
}
header #logoSection #logo #topLine {
	left: 50px;
}
header #logoSection #logo #bottomLine {
	top: 70px;
	left: 0px;
}
header #logoSection #logo #L-left {
	height: 55px;
	width: 8px;
	top: 9px;
	left: 50px;
}
header #logoSection #logo #L-bottom {
	height: 8px;
	width: 40px;
	top: 56px;
	left: 50px;
}
header #logoSection #logo .H {
	width: 7px;
	height: 38px;
}
header #logoSection #logo #H-left {
	top: 9px;
	left: 70px;
}
header #logoSection #logo #H-right {
	top: 9px;
	left: 93px;
}
header #logoSection #logo #H-middle {
	height: 6px;
	width: 16px;
	top: 24px;
	left: 77px;
}
header #logoSection #logo #splitter {
	height: 6px;
	width: 75px;
	top: 25px;
	left: 34px;
	background-color: var(--col1);
	transform: rotate(-38deg);
}
header #logoSection .logoText {
	position: relative;
	display: block;
	color: var(--col2);
	font-size: 2em;
	letter-spacing: 5px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 18px;
	transition: 0.3s;
	opacity: 1;
	font-weight: 300;
}
header .navMenu :hover {
	color: var(--col3);
}
.navMenu {
	position: relative;
	transition: 0.3s;
	margin-right: 5%;
	margin-top: 25px;
}
.navMenu .navButton {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 999;
	border: none;
	background-color: transparent;
}
#menuList {
	background-color: transparent;
}
#menuList a :hover {
	animation: navItemHoverOn 0.1s forwards;
}
#menuList a .current {
	background: linear-gradient(
		0deg,
		var(--col5) 10%,
		var(--col5) 10%,
		transparent 10%
	);
	animation: none;
}
header ul {
	position: relative;
	display: flex;
}
header ul a {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
header ul a li {
	color: var(--col2);
	list-style: none;
	font-size: 1.2em;
	transition: 0.5s;
	background: linear-gradient(
		0deg,
		var(--col5) 3%,
		var(--col5) 3%,
		transparent 3%
	);
	padding-bottom: 5px;
}
.headerScrolled {
	background-color: var(--col3);
	transition: 0.3s;
	padding-top: 3px;
	padding-bottom: 3px;
	--col5: var(--col1);
}
.headerScrolled #logoSection {
	margin-left: 30px;
	height: auto;
}
.headerScrolled #logoSection #logoAnchor {
	left: 0px;
	width: 100px;
	height: 55px;
}
.headerScrolled #logoSection #logo {
	padding-right: 30px;
	height: 55px;
}
.headerScrolled #logoSection #logo .logoComponent {
	background-color: var(--col1);
}
.headerScrolled #logoSection #logo #topLine {
	left: -100px;
	opacity: 0;
}
.headerScrolled #logoSection #logo #bottomLine {
	left: 200px;
	opacity: 0;
}
.headerScrolled #logoSection #logo #L-left {
	height: 41.25px;
	width: 6px;
	top: 6.75px;
	left: 0px;
}
.headerScrolled #logoSection #logo #L-bottom {
	height: 6px;
	width: 30px;
	top: 42px;
	left: 0px;
}
.headerScrolled #logoSection #logo .H {
	width: 5.25px;
	height: 28.5px;
}
.headerScrolled #logoSection #logo #H-left {
	top: 6.75px;
	left: 15px;
}
.headerScrolled #logoSection #logo #H-right {
	top: 6.75px;
	left: 32.25px;
}
.headerScrolled #logoSection #logo #H-middle {
	height: 4px;
	width: 12px;
	top: 18px;
	left: 20.25px;
}
.headerScrolled #logoSection #logo #splitter {
	height: 4px;
	width: 56.25px;
	top: 18.75px;
	left: -12px;
	background-color: var(--col3);
}
.headerScrolled .navMenu {
	margin-top: 15px;
}
.headerScrolled #menuList .navItem {
	color: var(--col1);
}
.headerScrolled .menuBar {
	background-color: var(--col1);
}
.headerScrolled #logoSection .logoText {
	opacity: 0;
	font-size: 0.5em;
	margin-top: 0px;
}
.banner {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
}
#main {
	position: relative;
	display: grid;
	width: 75%;
	background-color: transparent;
	padding-top: 112px;
	padding-left: 60px;
	padding-right: 60px;
}
#main #topOfContainer {
	justify-content: space-between;
}
#main #topOfContainer div {
	margin-top: auto;
	margin-bottom: 0px;
}
.intro-text {
	color: var(--col2);
	font-size: 7em;
	font-weight: 500;
	letter-spacing: 2px;
}
#main #topOfContainer div h1 span {
	color: var(--col3);
}
#main .main-section {
	display: flex;
}
#mainPP {
	margin-bottom: 100px;
	margin-top: auto;
	height: 350px;
	width: 350px;
	border-radius: 20px;
}
#main #botOfContainer {
	display: block;
}
#links {
	margin-top: 40px;
	width: 250px;
}
#links ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
#links span {
	width: 1px;
	margin: 0px auto;
	background-color: var(--col6);
}
#links li {
	position: relative;
	background-color: #fff;
	width: 64px;
	height: 64px;
	border-radius: 6px;
	display: flex;
	justify-content: space-around;
}
#links li :hover {
	background-color: var(--col3);
}
.social-icon {
	display: block;
	margin: auto;
	width: 60px;
	height: 60px;
}
#main #botOfContainer #bottom-text-container {
	display: inline;
}
.subIntro-text {
	color: var(--col2);
	font-size: 1.5em;
	line-height: 2em;
	font-weight: 400;
	letter-spacing: 2px;
}
#page-splitter {
	width: 1px;
	background-color: var(--col6);
	margin-top: 250px;
	margin-bottom: 100px;
}
#recents {
	position: relative;
	display: grid;
	width: 25%;
	min-width: 350px;
	right: 0px;
	background-color: transparent;
	padding-top: 112px;
	padding-left: 30px;
}
#recents div h2 {
	margin-top: 130px;
	font-size: 2.5em;
	letter-spacing: 3px;
	font-weight: 500;
}
#recents div h3 {
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 1.3em;
	letter-spacing: 2px;
	font-weight: 500;
}
#recents div .recents-snippet {
	background-color: var(--col7);
	height: 95px;
	width: 300px;
	padding: 6px 12px;
	border-radius: 4px;
	margin: 6px 0px;
}
#recents div .recent-codewars {
	display: flex;
	justify-content: space-between;
}
#recents div .recent-codewars h5 {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: auto;
}
#recents div .recent-codewars div {
	display: inline;
}
#recents div .recents-snippet h4 {
	font-size: 1.1em;
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 10px;
}
#recents div .recents-snippet h5 {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 400;
}
#recents div .recents-snippet p {
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 400;
}
.aboutSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.projectsSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contactSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.divider {
	height: 1px;
	background-color: var(--col2);
}
@media (max-width: 1400px) {
	.intro-text {
		font-size: 6em;
	}
	.subIntro-text {
		font-size: 1.3em;
	}
	#mainPP {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 1300px) {
	#main {
		width: 100%;
	}
	#recents {
		display: none;
	}
	#page-splitter {
		display: none;
	}
}
@media (max-width: 1100px) {
}
@media (max-width: 950px) {
	header #logoSection .logoText {
		display: none;
	}
	header ul a li {
		font-size: 1em;
	}
	header #logoSection #logoAnchor {
		left: 0px;
	}
	.intro-text {
		font-size: 5em;
	}
	.subIntro-text {
		font-size: 1.1em;
	}
	#mainPP {
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 770px) {
	#main #topOfContainer {
		flex-direction: column-reverse;
	}
	#main #topOfContainer div {
		margin-top: 0px;
	}
	.intro-text {
		font-size: 4.5em;
	}
	.subIntro-text {
		font-size: 1em;
	}
	#mainPP {
		position: relative;
		margin-left: auto;
		margin-bottom: 0px;
		width: 200px;
		height: 200px;
	}
}
@media (max-width: 600px) {
	header #logoSection {
		margin-left: 40px;
	}
	header #logoSection .logoText {
		display: none;
	}
	header #logoSection #logoAnchor {
		left: 0px;
	}
	.navMenu {
		position: relative;
		top: 0;
		margin-right: 12px;
		z-index: 997;
		width: 50px;
		height: 50px;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%;
		transition: 0.5s;
		background-color: transparent;
		-webkit-user-select: none;
	}
	.navMenu .navButton {
		display: block;
	}
	.navMenu .menuBar {
		display: block;
		position: relative;
		width: 33px;
		height: 5px;
		background-color: var(--col3);
		margin: 9px 7.5px;
		transition: 0.5s;
		border-radius: 3px;
		z-index: 997;
	}
	#menuList {
		position: relative;
		width: 1px;
		height: 1px;
		transition: 0.3s;
		text-align: center;
		display: none;
		z-index: 996;
		line-height: 2em;
		background-color: var(--col1);
		margin-top: 28px;
		right: 48px;
		padding-bottom: 10px;
		border-bottom-left-radius: 5px;
	}
	#menuList a {
		display: none;
		text-decoration: none;
		color: var(--col2);
	}
	#menuList a li {
		padding-bottom: 3px;
		margin-right: 15px;
	}
	.headerScrolled .navMenu {
		margin-top: 5px;
	}
	.headerScrolled #menuList {
		background-color: var(--col3);
		transition: 0.3s;
		margin-top: 11px;
	}
	.headerScrolled .menuBar {
		background-color: var(--col1);
	}
	.openMenu #menuList {
		width: 110px;
		display: block;
		height: auto;
	}
	.openMenu #menuList a {
		display: block;
		width: 100px;
	}
	.openMenu #bar1 {
		transform: translate(-3px, 14px) rotate(45deg);
	}
	.openMenu #bar2 {
		opacity: 0;
	}
	.openMenu #bar3 {
		transform: translate(-3px, -14px) rotate(-45deg);
	}
	.intro-text {
		font-size: 3.2em;
	}
	.subIntro-text {
		font-size: 0.8em;
	}
	#mainPP {
		width: 150px;
		height: 150px;
	}
	#links {
		width: 175px;
	}
	#links ul a li {
		width: 40px;
		height: 40px;
	}
	.social-icon {
		width: 36px;
		height: 36px;
	}
}
