@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
	--col1: #010101;
	--col2: #ffffff;
	--col3: #ffb81c; /*alt colour is #1A62FF / Ultramarine blue*/
	--col4: #ffffff;
	--col5: #ffffff; /*underline*/
}
@keyframes pulseBlurRadius {
	0% {
		box-shadow: 0px 0px 10px 0px var(--col2);
	}
	50% {
		box-shadow: 0px 0px 15px 2px var(--col2);
	}
	100% {
		box-shadow: 0px 0px 10px 0px var(--col2);
	}
}
@keyframes fadeInHello {
	0% {
		left: -50%;
		opacity: 0;
		letter-spacing: 100px;
	}
	100% {
		left: 0%;
		margin-left: 20%;
		opacity: 1;
		letter-spacing: 0px;
	}
}
@keyframes fadeInHelloSmall {
	0% {
		left: -85%;
		opacity: 0;
		letter-spacing: 50px;
	}
	100% {
		left: 0%;
		margin-left: 10%;
		opacity: 1;
		letter-spacing: 0px;
	}
}
@keyframes navItemHoverOn {
	20% {
		background: linear-gradient(
			0deg,
			var(--col5) 3%,
			var(--col5) 3%,
			transparent 3%
		);
	}
	40% {
		background: linear-gradient(
			0deg,
			var(--col5) 4%,
			var(--col5) 4%,
			transparent 4%
		);
	}
	60% {
		background: linear-gradient(
			0deg,
			var(--col5) 6%,
			var(--col5) 6%,
			transparent 6%
		);
	}
	80% {
		background: linear-gradient(
			0deg,
			var(--col5) 8%,
			var(--col5) 8%,
			transparent 8%
		);
	}
	100% {
		background: linear-gradient(
			0deg,
			var(--col5) 10%,
			var(--col5) 10%,
			transparent 10%
		);
	}
}
* {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: var(--col1);
	scroll-behavior: smooth;
}
html {
	background-color: var(--col1);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--col4);
	transition: 0.2s;
	background-color: var(--col1);
	--col5: var(--col2);
}
header #logoSection {
	position: relative;
	margin-left: 60px;
	height: 70px;
	display: flex;
}
header #logoSection #logoAnchor {
	position: absolute;
	height: 80px;
	width: 150px;
	z-index: 1000;
	left: 92px;
}
header #logoSection #logo {
	position: relative;
	height: 80px;
	padding-right: 150px;
}
header #logoSection #logo .logoComponent {
	position: absolute;
	background-color: var(--col2);
	transition: 0.4s;
}
header #logoSection #logo .lines {
	width: 100px;
	height: 2px;
	transition: 0.4s;
}
header #logoSection #logo #topLine {
	left: 50px;
}
header #logoSection #logo #bottomLine {
	top: 70px;
	left: 0px;
}
header #logoSection #logo #L-left {
	height: 55px;
	width: 8px;
	top: 9px;
	left: 50px;
}
header #logoSection #logo #L-bottom {
	height: 8px;
	width: 40px;
	top: 56px;
	left: 50px;
}
header #logoSection #logo .H {
	width: 7px;
	height: 38px;
}
header #logoSection #logo #H-left {
	top: 9px;
	left: 70px;
}
header #logoSection #logo #H-right {
	top: 9px;
	left: 93px;
}
header #logoSection #logo #H-middle {
	height: 6px;
	width: 16px;
	top: 24px;
	left: 77px;
}
header #logoSection #logo #splitter {
	height: 6px;
	width: 75px;
	top: 25px;
	left: 34px;
	background-color: var(--col1);
	transform: rotate(-38deg);
}
header #logoSection .logoText {
	position: relative;
	display: block;
	color: var(--col2);
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 18px;
}
.navMenu {
	position: relative;
	transition: 0.2s;
	margin-right: 5%;
	margin-top: 25px;
}
.navMenu .navButton {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 999;
	border: none;
	background-color: transparent;
}

#menuList {
	background-color: transparent;
}
#menuList a :hover {
	animation: navItemHoverOn 0.1s forwards;
}
#menuList a .current {
	background: linear-gradient(
		0deg,
		var(--col5) 10%,
		var(--col5) 10%,
		transparent 10%
	);
	animation: none;
}
header ul {
	position: relative;
	display: flex;
}
header ul a {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
header ul a li {
	color: var(--col2);
	list-style: none;
	font-size: 1.2em;
	transition: 0.5s;
	background: linear-gradient(
		0deg,
		var(--col5) 2%,
		var(--col5) 2%,
		transparent 2%
	);
	padding-bottom: 5px;
}
.headerScrolled {
	background-color: var(--col3);
	transition: 0.2s;
	padding-top: 10px;
	padding-bottom: 10px;
	--col5: var(--col1);
}
.headerScrolled #logoSection #logo #topLine {
	left: 0px;
}
.headerScrolled #logoSection #logo #bottomLine {
	left: 50px;
}
.headerScrolled #logoSection #logo .logoComponent {
	background-color: var(--col1);
}
.headerScrolled #logoSection #logo #splitter {
	background-color: var(--col3);
}
.headerScrolled #menuList .navItem {
	color: var(--col1);
}
.headerScrolled .menuBar {
	background-color: var(--col1);
}
.headerScrolled #logoSection .logoText {
	color: var(--col1);
}
.banner {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
}
.banner #navigationPanel {
	position: relative;
	width: 100%;
	margin-top: 10%;
	background-color: var(--col1);
	display: flex;
	justify-content: center;
}
.banner #navigationPanel div {
	width: 200px;
	background-color: var(--col3);
	height: 100px;
	margin: 5px;
}
.banner div h1 {
	position: relative;
	padding-top: 130px;
	padding-bottom: 20px;
	font-size: 8em;
	color: var(--col3);
	font-weight: 500;
	animation: fadeInHello 1.5s forwards;
	text-shadow: 3px 2px 0px var(--col4);
}
.banner div .strip {
	position: relative;
	padding: 50px 190px;
	color: var(--col1);
	background-color: var(--col3);
	border-top: 3px solid var(--col2);
	border-bottom: 3px solid var(--col2);
}
.banner div #intro h2 {
	color: inherit;
	font-size: 3em;
	font-weight: 500;
	line-height: 1.5em;
}
.banner div #intro h3 {
	color: inherit;
	font-weight: 500;
	line-height: 1.5em;
}
.banner .btn a {
	position: relative;
	background-color: var(--col1);
	display: inline;
	color: var(--col2);
	top: -12px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	padding: 5px;
	border-radius: 0px;
	border-color: var(--col2);
	border-width: 2px;
	border-style: solid;
	transition: 0.5s;
	margin-inline-start: 55%;
	box-shadow: 0px 0px 20px 0px var(--col2);
	animation: pulseBlurRadius 4s infinite;
}
.banner .btn :hover {
	background-color: var(--col2);
	border-color: var(--col1);
	color: var(--col1);
	transition: 0.5s;
}
.aboutSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.projectsSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contactSection {
	position: relative;
	min-height: 100vh;
	background-color: var(--col1);
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.divider {
	height: 1px;
	background-color: var(--col2);
}
@media (max-width: 1100px) {
	.banner div .strip {
		padding: 40px 160px;
	}
	.banner div h1 {
		font-size: 7em;
		padding-top: 130px;
		padding-bottom: 20px;
	}
	.banner div #intro h2 {
		font-size: 2.5em;
	}
	.banner #navigationPanel {
		margin-top: 15%;
	}
	.banner #navigationPanel div {
		width: 180px;
		height: 90px;
		margin: 4px;
	}
	header ul a li {
		font-size: 1.1em;
	}
}
@media (max-width: 900px) {
	header #logoSection .logoText {
		display: none;
	}
	.banner div .strip {
		padding: 30px 115px;
	}
	.banner div #intro h2 {
		font-size: 2em;
	}
	.banner #navigationPanel {
		margin-top: 20%;
	}
	.banner #navigationPanel div {
		width: 160px;
		height: 80px;
		margin: 3px;
	}
	header ul a li {
		font-size: 1em;
	}
}
@media (max-width: 600px) {
	header #logoSection {
		margin-left: 40px;
	}
	header #logoSection .logoText {
		display: none;
	}
	.navMenu {
		position: relative;
		top: 0;
		margin-right: 12px;
		z-index: 997;
		width: 50px;
		height: 50px;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%;
		transition: 0.5s;
		background-color: transparent;
		-webkit-user-select: none;
	}
	.navMenu .navButton {
		display: block;
	}
	.navMenu .menuBar {
		display: block;
		position: relative;
		width: 33px;
		height: 5px;
		background-color: var(--col3);
		margin: 9px 7.5px;
		transition: 0.5s;
		border-radius: 3px;
		z-index: 997;
	}
	#menuList {
		position: relative;
		width: 1px;
		height: 1px;
		transition: 0.2s;
		text-align: center;
		display: none;
		z-index: 996;
		line-height: 2em;
		background-color: var(--col1);
		border-bottom: var(--col2) solid 2px;
		border-left: var(--col2) solid 2px;
		margin-top: 28px;
		right: 50px;
		padding-bottom: 10px;
	}
	#menuList a {
		display: none;
		text-decoration: none;
		color: var(--col2);
	}
	#menuList a li {
		padding-bottom: 3px;
		margin-right: 15px;
	}

	.headerScrolled #menuList {
		background-color: var(--col3);
		transition: 0.2s;
		margin-top: 18px;
	}
	.headerScrolled .menuBar {
		background-color: var(--col1);
	}
	.openMenu #menuList {
		width: 110px;
		display: block;
		height: auto;
	}
	.openMenu #menuList a {
		display: block;
		width: 100px;
	}
	.openMenu #bar1 {
		transform: translate(-3px, 14px) rotate(45deg);
	}
	.openMenu #bar2 {
		opacity: 0;
	}
	.openMenu #bar3 {
		transform: translate(-3px, -14px) rotate(-45deg);
	}
	.banner div h1 {
		font-size: 5em;
		animation: fadeInHelloSmall 1.5s forwards;
		padding-top: 130px;
		padding-bottom: 10px;
	}
	.banner div .strip {
		margin-bottom: 1%;
		padding: 20px 80px;
	}
	.banner div #intro h2 {
		font-size: 1.8em;
	}
	.banner div #intro h3 {
		font-size: 1em;
	}
	.banner #navigationPanel {
		margin-top: 30%;
	}
	.banner #navigationPanel div {
		width: 110px;
		height: 55px;
		margin: 2px;
	}
}
